page-login {
  .logo {
    margin-top: 50px;
    text-align: center;
  }

  .logo img {
    width: 80px;
  }

  .title {
    display: block;
    font-size: 25px;
  }

  .subtitle {
    display: block;
    font-size: 15px;
  }

  .welcome {
    text-align: center;
    white-space: pre-line;
    margin-top: 20px;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
  }

  .login-buttons {
    text-align: center;
    margin-top: 20px;
  }
}
