// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-ios-climber,
.ion-md-climber,
.ion-ios-climber-outline,
.ion-md-climber-outline {
  content: url('../assets/images/icons/climber-48.png') !important;
  width: 32px;
  height: auto;
  margin: 0px;
  padding: 2px;
  opacity: 0.9;
}

.ion-ios-climber-outline,
.ion-md-climber-outline {
  content: url('../assets/images/icons/climber-48-outline.png') !important;
}



.ion-ios-edit,
.ion-md-edit,
.ion-ios-edit-outline,
.ion-md-edit-outline {
  content: url('../assets/images/icons/edit-26.png') !important;
  width: 48px;
  height: 32px;
}


.ion-ios-anonymous,
.ion-md-anonymous,
.ion-ios-anonymous-outline,
.ion-md-anonymous-outline {
  content: url('../assets/images/icons/anonymous.png') !important;
  width: 32px;
  height: 24px;
}
